
@font-face {
    font-family: 'Gravity';
    src: url('./fonts/Gravity-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gravity';
    src: url('./fonts/Gravity-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

.title-1 {
    display: flex;
    color: #fff;
    font-size: 20px;
    
}
.title {
    display:flex;
    color: #fff;
    font-size: 32px;
    padding-bottom: 125px;
    
}

.top-image {
    display: flex;
    max-width: 60%;
    margin: 20px auto;
    padding-bottom: 20px;
    object-fit: contain;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(43, 46, 48)); 
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.square-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    text-decoration: none;
    color: #333;
    max-width: 80%;
    margin: 0 auto;
    height: 50px;
    width: 80%;
}

.square img {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.square p {
    margin: 0; 
    font-size: 18px;
    text-align: center; 
    flex-grow: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

footer {
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
    color: #fff;
}

table td,
table th {
    border: 1px solid #fff;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}



/* Border Colour */
table, th, td {
border: 2px solid #fff;
text-align: center;
}

th, td {
padding: 8px;
color: #fff;
}

th {
background-color: #333;
color: #fff;
}

h2 {
    padding: 25px;
}

h2, h3 {
    color: #fff;
    text-align: center;
    }
   
/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    table th, table td {
        white-space: nowrap;
    }

    /* Add a scrollbar for mobile */
    ::-webkit-scrollbar {
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.3);
    }

     /* Fix the position of the first column */
     table th:first-child,
     table td:first-child {
         position: sticky;
         left: 0;
         top: 0;
         z-index: 2;
         background-color: #333;
         
     }
     
     
}